<!--Ventana de Grlla-->
<body>
  <div *ngIf="mostrar=='grilla'">
  <h1>Listado de Usuarios</h1>
    <div class="ondisplay">
      
    </div>
    <div style="padding-left:1%;">
      <label style="color:whitesmoke;" for="">Filtrar por Tipo</label>
            <select (change)="TraerTodosLosUsuarios()" style="width: 250px;	height: 30px;" name="" id="" [(ngModel)]="filtroTipo" [ngModelOptions]="{standalone: true}">
                <option style="font-family:'Verdana'; font-weight: bold; " value="Todos" >Todos</option>
                <option style="font-family:'Verdana'; font-weight: bold; " value="Encargado"  >Encargado</option>
                <option style="font-family:'Verdana'; font-weight: bold; " value="Empleado" >Empleado</option>
                <option style="font-family:'Verdana'; font-weight: bold; " value="Cliente" >Cliente</option>
              </select>
    </div>
    <div style="overflow:scroll; height:430px">
        <table class="listado">
          <thead>
            <tr>
              <th><h1></h1></th>
              <th style="width: 350px;	height: 30px;"><h1>Nombre</h1></th>
              <th style="width: 200px;	height: 30px;"><h1>Telefono</h1></th>
              <th><h1>Email</h1></th>
              <th><h1>Sexo</h1></th>
              <th style="width: 180px"><h1>Ingreso</h1></th>
              <th><h1>Direccion</h1></th>
              <th><h1>Localidad</h1></th>
              <th colspan="2"><h1>Opciones</h1></th>
            </tr>
          </thead>
          
          <tbody *ngFor="let item of datosUsuarios">
            <tr *ngIf="item.estado=='Alta'" >
              <td><img src="./assets/imgPerfil/{{item.foto}}" style=" width:40px; height:40px;"> </td>
              <td>{{item.nomApell}}</td>
              <td>{{item.telefono}}</td>
              <td >{{item.email}}</td>
              <td>{{item.sexo}}</td>
              <td>{{item.fecIngreso}}</td>
              <td>{{item.direccion}}</td>
              <td>{{item.localidad}}</td>
              <td class="icono1"><a (click)="ModificarUsuario(item.idUsuario)"><span class="fa glyphicon glyphicon-pencil fa-2x" style="font-size:30px;"></span></a></td>	
              <td class="icono2"><a (click)="BorrarUsuario(item.idUsuario)"><span class="fa glyphicon glyphicon-trash fa-2x" style="font-size:30px;"></span></a></td>		
            </tr>
            <tr *ngIf="item.estado!='Alta'" style="background-color:red; height: 30px;">
              <td><img src="./assets/imgPerfil/{{item.foto}}" style=" width:40px; height:40px;"> </td>
              <td>{{item.nomApell}}</td>
              <td>{{item.telefono}}</td>
              <td >{{item.email}}</td>
              <td>{{item.sexo}}</td>
              <td>{{item.fecIngreso}}</td>
              <td>{{item.direccion}}</td>
              <td>{{item.localidad}}</td>
              <td class="icono1" ><a (click)="ModificarUsuario(item.id)"><span class="fa glyphicon glyphicon-pencil fa-2x" style="font-size:30px;"></span></a></td>	
              <td class="icono2" ><a (click)="BorrarUsuario(item.id)"><span class="fa glyphicon glyphicon-trash fa-2x" style="font-size:30px;"></span></a></td>	
            </tr>
            
          </tbody>
        </table>
    </div>
  </div>



<!--Ventana de Alta-->
  <div *ngIf="mostrar=='alta'">
    <h1>Alta de Usuario</h1>
    <fieldset>
        <form class="form-inline" action="/action_page.php">
          <div class="form-group">
            <label for="">Nombre y Apellido:</label>
            <input style="width: 350px;	height: 30px;" type="text" [(ngModel)]="nomApell" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Nombre y Apellido" required>
          </div>
        </form>
        <form class="form-inline" action="/action_page.php">
          <div class="form-group">
            <label for="">Sexo</label>
              <select style="width: 250px;	height: 30px;" name="" id="" [(ngModel)]="sexo" [ngModelOptions]="{standalone: true}">
                <option style="font-family:'Verdana'; font-weight: bold; " value="Femenino"  >Femenino</option>
                <option style="font-family:'Verdana'; font-weight: bold; " value="Masculino" >Masculino</option>
              </select>
          </div>
        </form>
        <form class="form-inline" action="/action_page.php">
          <div class="form-group">
            <label for="">Telefono:</label>
            <input style="width: 250px;	height: 30px;" type="text" [(ngModel)]="telefono" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Telefonos">
          </div>
          <div class="form-group">
            <label for="">Direccion:</label>
            <input style="width: 250px;	height: 30px;" type="text" [(ngModel)]="direccion" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Direccion">
          </div>
          <div class="form-group">
            <label for="">Localidad:</label>
            <input style="width: 250px;	height: 30px;" type="text" [(ngModel)]="localidad" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Localidad">
          </div>
          <div class="form-group">
            <label for="">Email:</label>
            <input style="width: 250px;	height: 30px;" type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Email">
          </div>
        </form>
        <form class="form-inline" action="/action_page.php">
          <div class="form-group">
            <label for="">Password:</label>
            <input style="width: 250px;	height: 30px;" type="password" [(ngModel)]="clave" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="">Repetir Password:</label>
            <input style="width: 250px;	height: 30px;" type="password" [(ngModel)]="clave2" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Repetir Password">
          </div>
        </form>
        <form class="form-inline">
          <div class="form-group">
            <label for="">Tipo de Usuario</label>
            <select style="width: 250px;	height: 30px;" name="" id="" [(ngModel)]="tipo" [ngModelOptions]="{standalone: true}">
                <option style="font-family:'Verdana'; font-weight: bold; " value="Encargado"  >Encargado</option>
                <option style="font-family:'Verdana'; font-weight: bold; " value="Empleado" >Empleado</option>
                <option style="font-family:'Verdana'; font-weight: bold; " value="Cliente" >Cliente</option>
              </select>
          </div>
        </form>
        <input style="height: 40px;" type="submit" value="Agregar" (click)="BtnAgregarUsuario(); " /><br>
    </fieldset>
  </div>
</body>

<!--Modal de Informe-->
<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{titulo}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{leyenda}}</p>
      </div>
    </div>
  </div>
</div>

<!--Modal de Modificacion-->
<div *ngIf="isModalModif" [config]="{ show: true }" (onHidden)="ocultaModif()" class="modal fade" bsModal #modifUser="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <!--Alta Uusarios-->
  <div style="background:lightgray; padding:10px;" class="modal-dialog modal-lg">
    <div class="modal-content">      
      <button type="button" class="close pull-right" aria-label="Close" (click)="cierraModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h1 style="font-size: 22px;">Modificacion de Usuario</h1>
    <fieldset>
        <form class="form-inline" action="/action_page.php">
          <div class="form-group">
            <label for="">Nombre y Apellido:</label>
            <input style="width: 350px;	height: 30px;" type="text" [(ngModel)]="nomApell" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Nombre y Apellido" required>
          </div>
        </form>
        <form class="form-inline" action="/action_page.php">
          <div class="form-group">
            <label for="">Sexo</label>
              <select style="width: 250px;	height: 30px;" name="" id="" [(ngModel)]="sexo" [ngModelOptions]="{standalone: true}">
                <option style="font-family:'Verdana'; font-weight: bold; " value="Femenino"  >Femenino</option>
                <option style="font-family:'Verdana'; font-weight: bold; " value="Masculino" >Masculino</option>
              </select>
          </div>
        </form>
        <form class="form-inline" action="/action_page.php">
          <div class="form-group">
            <label for="">Telefono:</label>
            <input style="width: 250px;	height: 30px;" type="text" [(ngModel)]="telefono" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Telefonos">
          </div>
          <div class="form-group">
            <label for="">Direccion:</label>
            <input style="width: 250px;	height: 30px;" type="text" [(ngModel)]="direccion" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Direccion">
          </div>
          <div class="form-group">
            <label for="">Localidad:</label>
            <input style="width: 250px;	height: 30px;" type="text" [(ngModel)]="localidad" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Localidad">
          </div>
          <div class="form-group">
            <label for="">Email:</label>
            <input style="width: 250px;	height: 30px;" type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Email">
          </div>
        </form>
        <form class="form-inline" action="/action_page.php">
          <div class="form-group">
            <label for="">Password:</label>
            <input style="width: 250px;	height: 30px;" type="password" [(ngModel)]="clave" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="">Repetir Password:</label>
            <input style="width: 250px;	height: 30px;" type="password" [(ngModel)]="clave2" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Repetir Password">
          </div>
        </form>
        <form class="form-inline">
          <div class="form-group">
            <label for="">Tipo de Usuario</label>
            <select style="width: 250px;	height: 30px;" name="" id="" [(ngModel)]="tipo" [ngModelOptions]="{standalone: true}">
                <option style="font-family:'Verdana'; font-weight: bold; " value="Encargado"  >Encargado</option>
                <option style="font-family:'Verdana'; font-weight: bold; " value="Empleado" >Empleado</option>
                <option style="font-family:'Verdana'; font-weight: bold; " value="Cliente" >Cliente</option>
              </select>
          </div>
        </form>
        <input style="height: 40px;" type="submit" value="Modificar" (click)="BtnActualizar(); " /><br>
    </fieldset>
  </div> 
    </div>

    <!--Modal de Informe-->
<div *ngIf="isModalShown2" [config]="{ show: true }" (onHidden)="onHidden2()" bsModal #autoShownModal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{titulo}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal2()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{leyenda}}</p>
      </div>
    </div>
  </div>
</div>
  </div>

<!--Modal Baja de usario-->
  <div *ngIf="isModalShown3" [config]="{ show: true }" (onHidden)="onHidden3()" bsModal #autoShownModal3="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{titulo}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal3()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{leyenda}}</p>
        <div class="form-inline button-right">
          <button type="button" class="btn btn-danger" (click)="BtnBajaUsuario()">Aceptar</button>
          <button type="button" class="btn btn-primary" (click)="hideModal3()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>
