<body>
	<div class="jumbotron text-center">
		<p>Hace tu reserva online Gratis!!</p>
		<h2>Pizzeria Argenta SRL</h2>   
	</div>
	
<div class="container-fluid">
	<div class="row">
        <div class="col-sm-6 form-group">
          <label >¿Cuantas Personas?</label>
        <select [(ngModel)]="sexo" [ngModelOptions]="{standalone: true}" name="" id="" [(ngModel)]="cantPers" [ngModelOptions]="{standalone: true}">
          <option value="1"  >1 Persona</option>
          <option value="2" >2 Personas</option>
					<option value="2" >3 Personas</option>
					<option value="2" >4 Personas</option>
					<option value="2" >5 Personas</option>
					<option value="2" >6 Personas</option>
					<option value="2" >7 Personas</option>
					<option value="2" >8 o mas Personas</option>
        </select>
        </div>
        <div class="col-sm-6 form-group">
          <label >¿Que dia?</label>
        <select class="dropdown"  name="" id="" [(ngModel)]="dia" [ngModelOptions]="{standalone: true}">
          <option value="1"  >Hoy</option>
					<hr/>
          <option value="2" >Mañana</option>
					<hr/>
					<option value="2" >Domingo, 01</option>
					<hr/>
					<option value="2" >Lunes, 02</option>
					<hr/>
					<option value="2" >Martes, 03</option>
					<hr/>
					<option value="2" >Miercoles, 04</option>
					<hr/>
					<option value="2" >Jueves, 05</option>
					<hr/>
					<option value="2" >Viernes, 06</option>
					<hr/>	
        </select>
        </div>
	</div>
</div>
	<hr/>
<div class="container-fluid">
	<button type="button" class="btn btn-default">8:30</button>
	<button type="button" class="btn btn-default">9:00</button>
	<button type="button" class="btn btn-default">9:30</button>
	<button type="button" class="btn btn-default">10:00</button>
</div>
<hr/>
<div class="container-fluid text-center">
	<button type="button" class="btn btn-info active btn-lg">Reservar</button>
</div>
<hr/>

</body>