/*Lista de Usuario*/
@charset "UTF-8";
		@import 'https://fonts.googleapis.com/css?family=Raleway';
		body {
			font-family: 'Raleway', sans-serif;
			font-weight: 300;
			line-height: 1.42em;
			color:#4B4A4B;
			background-color:#FFDAC4;
			background: url(http://www.pixeden.com/media/k2/galleries/131/002-subtle-light-pattern-background-texture.jpg);
		}
		

		h1 {
			font-size:3em; 
			font-weight: 300;
			line-height:1em;
			text-align: center;
			color: #FD2E4A;
		}

		.listado th h1 {
			font-weight: bold;
			font-size: 1em;
			text-align: left;
		  	color: #FFFFFF;
		}

		.listado td {
			font-weight: normal;
			font-size: 11px;
			-webkit-box-shadow: 0 2px 2px -2px #0E1119;
			-moz-box-shadow: 0 2px 2px -2px #0E1119;
			box-shadow: 0 2px 2px -2px #0E1119;
		}

		.listado {
			text-align: left;
			/*overflow: hidden;*/
			width: 99%;
			margin: 0 auto;
			display: table;
			padding: 0 0 8em 3em;
			/*overflow: scroll;*/
			/*width: 1180px;
			height: 500px;*/
		}

		.listado td, .listado th {
			padding-bottom: 5px;
			padding-top: 5px;
			padding-left:1%;  
		}

		.listado tr:nth-child(odd) {
			background-color: #EEEAE7;
			
		}

		.listado tr:nth-child(even) {
			background-color: #FFFFFF;
			
		}

		.listado th {
			background-color: #350133;
			
		}

		.listado td:first-child { 
			color: #FC1231; 
		}

		.listado tr:hover {
			background-color: #F7C7F7;
			-webkit-box-shadow: 0 6px 6px -6px #0E1119;
			-moz-box-shadow: 0 6px 6px -6px #0E1119;
			box-shadow: 0 6px 6px -6px #0E1119;
		}

		td a {
			color: #4B4A4B;
		}

		td a:hover {
			color: #FFFFFF;
		}

		.listado td.icono1:hover {
			background-color: yellow;
			
			box-shadow: yellow -1px 1px, yellow -2px 2px, yellow -3px 3px, yellow -4px 4px, yellow -5px 5px, yellow -6px 6px;
			transform: translate3d(6px, -6px, 0);

			transition-delay: 0s;
			transition-duration: 0.4s;
			transition-property: all;
			transition-timing-function: line;
		}
		.listado td.icono2:hover {
			background-color: #FC1231;
			
			box-shadow: #BA0F26 -1px 1px, #BA0F26 -2px 2px, #BA0F26 -3px 3px, #BA0F26 -4px 4px, #BA0F26 -5px 5px, #BA0F26 -6px 6px;
			transform: translate3d(6px, -6px, 0);

			transition-delay: 0s;
			transition-duration: 0.4s;
			transition-property: all;
			transition-timing-function: line;
		}	

		.listado td.icono3:hover {
			background-color: green;
			
			box-shadow: green -1px 1px, green -2px 2px, green -3px 3px, green -4px 4px, green -5px 5px, green -6px 6px;
			transform: translate3d(6px, -6px, 0);

			transition-delay: 0s;
			transition-duration: 0.4s;
			transition-property: all;
			transition-timing-function: line;
		}	

        *{
  box-sizing:border-box;
}

body{
  font-family:'Verdana';
  background:#343a40;
}

h1{
  text-align:center;
  color:orange;
}

form{
  width:100%;
  max-width:800px;
  margin: auto;
  color:#f1f3f5;
}

fieldset{
  border:1px solid #868e96;
  border-radius:5px;
  background:#495057;
  padding:16px;
}

label{
  display:block;
  margin-bottom: 5px;
}
input, select,textarea{
  width:100%;
  color:#495057;
  margin-bottom: 24px;
  padding:5px 10px;
  border:1px solid #BDBDBD;
  border-radius:5px;
}

input[type='submit']{
  display:block;
  margin:0;
  width:initial;
  background:orange;
  font-size:23px;
  border:0;
}

