<body>
    <h1>Listado de Pizzas</h1>
     <!--<h1>CSS3 Checkbox Styles</h1>-->
<div class="ondisplay">
  
</div>
		<table class="listado">
			<thead>
				<tr>
          <th><h1></h1></th>
          <th><h1>NOMBRE</h1></th>
					<th><h1>PRECIO</h1></th>
					<th><h1>DESCUENTO</h1></th>
					<th colspan="2"><h1>OPCIONES</h1></th>
				</tr>
			</thead>
			<tbody *ngFor="let item of pizzasList | async">
				<tr *ngIf="item.estado=='Alta'">
          <td ><img src="./assets/imgPizza/{{item.foto}}" style=" width:40px; height:40px;"> </td>
          <td>{{item.nombre}}</td>
					<td>{{item.precio}}</td>
					<td >{{item.descuento}}</td>
					<td style="width: 30px" class="icono1"><a (click)="ModificarPizza(item.id)"><span class="fa glyphicon glyphicon-pencil fa-2x" style="font-size:30px;"></span></a></td>	
					<td style="width: 30px" class="icono2"><a (click)="BorrarPizza(item.id)"><span class="fa glyphicon glyphicon-trash fa-2x" style="font-size:30px;"></span></a></td>			
				</tr>
        <tr *ngIf="item.estado!='Alta'" >
          <td ><img src="./assets/fotos/{{item.foto}}" style=" width:40px; height:40px;"> </td>
          <td>{{item.descripcion}}</td>
					<td>{{item.precio}}</td>
					<td >{{item.descuento}}</td>
					<td class="icono1" ><a (click)="ModificarPizza(item.id)"><span class="fa glyphicon glyphicon-pencil fa-2x" style="font-size:30px;"></span></a></td>	
					<td class="icono2" ><a (click)="BorrarPizza(item.id)"><span class="fa glyphicon glyphicon-trash fa-2x" style="font-size:30px;"></span></a></td>	
				</tr>
				
			</tbody>
		</table>
</body>

<div *ngIf="altaPlatos==true">
<h1>Alta de Pizzas</h1>
<form action="" method="">
  <fieldset >
    <legend>Datos de Pizza</legend>
    <label for="">Nombre</label>
    <input type="text" [(ngModel)]="descripcion" [ngModelOptions]="{standalone: true}">
    <label for="">Precio</label>
    <input type="text" [(ngModel)]="precio" [ngModelOptions]="{standalone: true}">
    <label for="">Descuento</label>
    <input type="text" [(ngModel)]="descuento" [ngModelOptions]="{standalone: true}">
    
    <!--<textarea></textarea>-->
    <input type="submit" value="Agregar Pizza" (click)="AgregarPizza()" /><br>
  </fieldset>
</form>
<hr/>
</div>
