<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pizzeria TP</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">


<!--Navegacion-->
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">INICIO</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <!--Navegacion-->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">SOBRE</a></li>
        <li><a href="#portfolio">FOTOS</a></li>
        <li><a href="#promo">PROMOS</a></li>
        <li><a href="#menu">MENU</a></li>
        <li><a href="#contact">CONTACTO</a></li>


          <!--Administrador-->
        <li dropdown class="dropdown pointer"><a dropdownToggle class="dropdown-toggle">
          ADMINISTRADOR<span class="caret"></span></a>
          <ul dropdwnMenu class="dropdown-menu" >
            <li><a (click)="abmUserModal.show(); vistaUser='alta'" style="background-color:orange" >Alta Usuarios</a></li>
            <li><a (click)="abmUserModal.show(); vistaUser='grilla'" style="background-color:orange">Lista de Usuarios</a></li>
            <li><a (click)="abmSucModal.show()" style="background-color:orange" >ABM Sucursales</a></li>
            <li><a (click)="abmPizzasModal.show()" style="background-color:orange">ABM Pizzas y Ofertas</a></li>
            <li><a href="#portfolio" style="background-color:orange" >Estadisticas</a></li>
          </ul>
        </li>
        <!--Encargado-->
        <li dropdown class="dropdown pointer"><a dropdownToggle class="dropdown-toggle">
          ENCARGADO<span class="caret"></span></a>
          <ul dropdwnMenu class="dropdown-menu" >
            <li><a (click)="abmUserModal.show(); vistaUser='alta'" style="background-color:orange">Alta Usuarios</a></li>
            <li><a (click)="abmUserModal.show(); vistaUser='grilla'" style="background-color:orange">Lista de Usuarios</a></li>
            <li><a (click)="abmPizzasModal.show()" style="background-color:orange">ABM Pizzas y Ofertas</a></li> 
          </ul>
        </li>
        <!--Empleado-->
        <li dropdown class="dropdown pointer"><a dropdownToggle class="dropdown-toggle">
          EMPLEADO<span class="caret"></span></a>
          <ul dropdwnMenu class="dropdown-menu" >
            <li><a (click)="abmUserModal.show(); vistaUser='alta';" style="background-color:orange">Alta Clientes</a></li>
            <li><a (click)="abmUserModal.show(); vistaUser='grilla';" style="background-color:orange">Lista de Clientes</a></li>
            <li><a (click)="abmPedidosModal.show(); vistaPedidos='alta'" style="background-color:orange">Alta de Pedidos</a></li>
            <li><a (click)="abmPedidosModal.show(); vistaPedidos='grilla'" style="background-color:orange">Lista de Pedidos</a></li>
            <li><a (click)="abmPlatosModal.show()" style="background-color:orange">Alta Platos y Ofertas</a></li>
          </ul>
        </li>
        <!--Operaciones-->
        <li dropdown class="dropdown pointer"><a dropdownToggle class="dropdown-toggle">
          OPERACIONES<span class="caret"></span></a>
          <ul dropdwnMenu class="dropdown-menu">
            <li><a (click)="abmReservaModal.show()" style="background-color:orange">Reservas</a></li>
            <li><a (click)="abmPedidosModal.show(); vistaPedidos='alta'" style="background-color:orange">Pedidos para Fiestas</a></li>
          </ul>
        </li>

        <li><a (click)="loginModal.show()">Login</a></li>
      </ul>
    </div>
  </div>

  <!--Pagina Login-->
<div class="modal fade" bsModal #loginModal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm2">
    <div class="modal-content">     
        <button type="button" class="close pull-right" aria-label="Close" (click)="loginModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <app-login>Cargando...</app-login> 
    </div> 
  </div>
</div>

<!--Pagina de ABM Usuarios-->
<div class="modal fade" bsModal #abmUserModal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <!--Alta Uusarios-->
  <div *ngIf="vistaUser=='alta'" style="background:lightgray; padding:10px;" class="modal-dialog modal-lg">
    <div class="modal-content">      
      <button type="button" class="close pull-right" aria-label="Close" (click)="abmUserModal.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-abm-usuario [Mostrar]="vistaUser">Cargando...</app-abm-usuario> 
    </div>
  </div>
      <!--Lista Uusarios-->
  <div *ngIf="vistaUser=='grilla'" style="background:lightgray; padding:10px;" class="modal-dialog" id="mdialTamanio">
    <div class="modal-content">      
      <button type="button" class="close pull-right" aria-label="Close" (click)="abmUserModal.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-abm-usuario [Mostrar]="vistaUser">Cargando...</app-abm-usuario> 
    </div>
  </div>
</div>

<!--Pagina de ABM Sucursales-->
<div class="modal fade" bsModal #abmSucModal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div  style="background:lightblue; padding:25px;" class="modal-dialog modal-lg">
    <div class="modal-content">      
      <button type="button" class="close pull-right" aria-label="Close" (click)="abmSucModal.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-abm-sucursales>Cargando...</app-abm-sucursales> 
    </div>
  </div>
</div>

<!--Pagina de ABM Pedidos-->
<div class="modal fade" bsModal #abmPedidosModal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div  style="background:lightblue; padding:25px;" class="modal-dialog modal-lg">
    <div class="modal-content">      
      <button type="button" class="close pull-right" aria-label="Close" (click)="abmPedidosModal.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-abm-pedidos [Mostrar]="vistaPedidos">Cargando...</app-abm-pedidos> 
    </div>
  </div>
</div>

<!--Pagina de ABM Pizzas-->
<div class="modal fade" bsModal #abmPizzasModal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div  style="background:lightblue; padding:25px;" class="modal-dialog modal-lg">
    <div class="modal-content">      
      <button type="button" class="close pull-right" aria-label="Close" (click)="abmPizzasModal.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-abm-pizzas>Cargando...</app-abm-pizzas> 
    </div>
  </div>
</div>

  <!--Pagina de ABM Reservas-->
<div class="modal fade" bsModal #abmReservaModal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div  style="background:lightblue; padding:5px;" class="modal-dialog modal-sm2">
    <div class="modal-content">      
      <button type="button" class="close pull-right" aria-label="Close" (click)="abmReservaModal.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-abm-reservas>Cargando...</app-abm-reservas> 
    </div>
  </div>
</div>
</nav>


<!--Navegacion de la Pagina-->
<app-inicio>Loading...</app-inicio>




<!--Fin de la App-->
</body>
</html>