
<link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">
<h1>Alta de Sucursales</h1>
<form action="" method="">
  <fieldset >
    <legend>Datos de Sucursal</legend>
    <label for="">Nombre</label>
    <input type="text" [(ngModel)]="nomApell" [ngModelOptions]="{standalone: true}">
    <label for="">Telefonos</label>
    <input type="text" [(ngModel)]="telefono" [ngModelOptions]="{standalone: true}">
    <!--<label for="">Email</label>
    <input type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
    <label for="">Password</label>
    <input type="text" [(ngModel)]="fecIngreso" [ngModelOptions]="{standalone: true}">
    <label for="">Repetir Password</label>
    <input type="text" [(ngModel)]="foto" [ngModelOptions]="{standalone: true}">-->
    <label for="">Estado</label>
    <select name="" id="" [(ngModel)]="estado" [ngModelOptions]="{standalone: true}">
      <option value="Habilitado">Habilitado</option>
      <option value="Inhabilitado">Inhabilitado</option>
    </select>
    <!--<label for="">Direccion</label>
    <input type="text" [(ngModel)]="direccion" [ngModelOptions]="{standalone: true}">
    <label for="">Localidad</label>
    <input type="text" [(ngModel)]="localidad" [ngModelOptions]="{standalone: true}">-->
    <!--<textarea></textarea>-->
    
    <!-- Add Google Maps -->


      <label>Mapa de Sucursales</label>
      <div class="container">
      <div class="form-group">
        <input style="width:550px" placeholder="buscar ubicacion..."
         autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
          #search [formControl]="searchControl">
      </div>
      <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
      </agm-map>
    </div>
    

    <input type="submit" value="Agregar" (click)="AgregarSucursal()" /><br>
  </fieldset>
</form>
<hr/>

